@import '../mixins.css';
@b Advertise {
  height: 100%;
  background-size: cover;
  background-position: center;
  text-align: center;
  @e mask {
    @mixin absOverlay;
    background-color: rgba(0, 0, 0, .3);
    z-index: 1;
  }
  @e content {
    z-index: 2;
    position: relative;
    color: #fff;
  }
  @e title {
    font-size: 24px;
  }
  @e desc {
    font-size: 12px;
    line-height: 1.75;
    margin-top: 15px;
  }
  @e btn {
    display: inline-block;
    margin-top: 30px;
    font-size: 10px;
    padding: 5px 16px;
    border: 1px solid;
    color: inherit;
  }
}
