@import '../../style/mixins.css';
@b top {
  height: 100%;
  background: url('../../assets/cases/dragon/top.jpg') center;
  background-size: cover;
  text-align: center;
  padding-top: 40%;
  p {
    margin-top: 20px;
    font-size: 12px;
  }
}

@b style {
  @e hd {
    @mixin px2h 150;
  }
  @e tab {}
  @e bd {
    padding-top: 20px;
  }
  @e img {
    display: inline-block;
    @mixin px2w 600;
    @mixin px2h 500;
    overflow: hidden;
    margin-bottom: 6px;
  }
}

@b budget {
  height: 100%;
  @e hd {
    height: 23%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  @e bd {
    height: 77%;
    text-align: center;
  }
  @e item {
    @mixin px2w 290;
    @mixin px2h 445;
    background-color: #fff;
    &:nth-child(even) {
      margin-left: 5px;
    }
    &:nth-child(1) {
      margin-bottom: 5px;
    }
    p {
      margin-top: 25px;
      margin-bottom: 25px;
      font-size: 12px;
    }
  }
}

@b layout {
  @e hd {
    @mixin px2h 237;
  }
  @e bd {
    @mixin px2h 1000;
  }
}

@b video {
  @e hd {
    @mixin px2h 175;
  }
  @e bd {
    text-align: center;
  }
  @e item {
    @mixin px2w 640;
    @mixin px2h 360;
    margin-bottom: 5px;
  }
}

@b team {
  @e hd {
    @mixin px2h 460;
  }
  @e bd {}
}

@b flow {
  @e hd {
    @mixin px2h 500;
  }
}

@b flow-icons {
  padding: 0 25px;
  text-align: center;
  margin-bottom: 3vh;
  @e li {
    h3 {
      font-size: 12px;
    }
    p {
      font-size: 11px;
      margin-top: 18px;
    }
    &:nth-of-type(2) {
      margin-left: 60px;
    }
  }
  @e line {
    margin-top: -84px;
    position: relative;
    z-index: -1;
  }
  @e img-wrap {
    background: #fff;
    margin-top: 15px;
    width: 80px;
    height: 80px;
    border: 1px solid #333;
    border-radius: 50%;
  }
}
