@define-mixin bgCover {
  background-size: cover;
  background-position: center;
}

@define-mixin absOverlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@define-mixin vCenter {
  &:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

@define-mixin px2w $px {
  width: calc( $(px)/ 750 * 100vw);
}

@define-mixin px2h $px {
  height: calc( $(px)/ 1334 * 100vh);
}
