@import '../../style/mixins.css';
@b what {
  @e hd {
    @mixin px2h 580;
  }
  @e img {
    @mixin px2h 666;
  }
}

@b who {
  padding-top: 8%;
  position: relative;
  color: #fff;
  min-height: 100%;
  background-color: rgba(0, 0, 0, .4);
  @e hl {
    color: #ffe329;
  }
  @e img {
    position: absolute;
    bottom: 0;
    z-index: -1;
  }
}

@b flow {
  @e hd {
    @mixin px2h 295;
  }
  @e img {
    @mixin px2h 946;
  }
}
