@import '../../style/mixins.css';
@b inspiration {
  padding-top: 45px;
  @e ft {
    margin-top: 20%;
  }
}

@b ins-item {
  width: 50%;
  padding: 5px;
  @e img {
    @mixin bgCover;
    padding-top: 67%;
    background-color: #f7f7f7;
  }
}
