@import '../../style/mixins.css';

.assemble-top__img {
  @mixin bgWebp assemble/america/hall.jpg;
}

.assemble-sub {
  padding-top: 40%;
  @mixin bgWebp assemble/america/sub.jpg;
}

.hall {
  .assemble-space__img {
    @mixin bgWebp assemble/america/hall.jpg;
  }
  .assemble-space__bg {
    right: -15%;
  }
}

.dining-room {
  .assemble-space__img {
    @mixin bgWebp assemble/america/dining-room.jpg;
  }
  .assemble-space__bg {
    left: -15%;
  }
}

@b bedroom {
  @e flower {
    right: -10%;
  }
  @e flower-leaf {
    right: -8%;
    top: 48%;
  }
  .assemble-space__img {
    @mixin bgWebp assemble/america/bedroom.jpg;
  }
}

.assemble-ft {
  @mixin bgWebp assemble/america/ft.jpg;
}
