.assemble-top__img {
  background-image: url('../../assets/assemble/america/hall.jpg');
}

.webp .assemble-top__img {
  background-image: url('../../assets/assemble/america/webp/hall.webp');
}

.assemble-sub {
  padding-top: 40%;
  background-image: url('../../assets/assemble/america/sub.jpg');
}

.webp .assemble-sub {
  background-image: url('../../assets/assemble/america/webp/sub.webp');
}

.hall {
  .assemble-space__img {
    background-image: url('../../assets/assemble/america/hall.jpg');
  }
  .assemble-space__bg {
    right: -15%;
  }
}

.webp .hall .assemble-space__img {
  background-image: url('../../assets/assemble/america/webp/hall.webp');
}

.dining-room {
  .assemble-space__img {
    background-image: url('../../assets/assemble/america/dining-room.jpg');
  }
  .assemble-space__bg {
    left: -15%;
  }
}

.webp .dining-room .assemble-space__img {
  background-image: url('../../assets/assemble/america/webp/dining-room.webp');
}

@b bedroom {
  @e flower {
    right: -10%;
  }
  @e flower-leaf {
    right: -8%;
    top: 48%;
  }
  .assemble-space__img {
    background-image: url('../../assets/assemble/america/bedroom.jpg');
  }
}

.webp .bedroom .assemble-space__img {
  background-image: url('../../assets/assemble/america/webp/bedroom.webp');
}

.assemble-ft {
  background-image: url('../../assets/assemble/america/ft.jpg');
}

.webp .assemble-ft {
  background-image: url('../../assets/assemble/america/webp/ft.webp');
}
