@import '../../style/mixins.css';
.assemble-top__img {
  @mixin bgWebp assemble/classic/hall.jpg;
}

.assemble-sub {
  @mixin bgWebp assemble/classic/sub.jpg;
}

.hall {
  .assemble-space__img {
    @mixin bgWebp assemble/classic/hall.jpg;
  }
  .assemble-space__bg {
    right: 0;
    top: 0;
  }
}

.dining-room {
  .assemble-space__img {
    @mixin bgWebp assemble/classic/dining-room.jpg;
  }
  .assemble-space__bg {
    top: 10%;
  }
}

.bedroom {
  .assemble-space__img {
    @mixin bgWebp assemble/classic/bedroom.jpg;
  }
  .assemble-space__bg {
    right: 0;
    bottom: 0;
  }
}

.whole {
  .assemble-space__img {
    @mixin bgWebp assemble/classic/whole.jpg;
  }
  .assemble-space__bg {
    top: 40%;
  }
}

.assemble-ft {
  @mixin bgWebp assemble/classic/ft.jpg;
}
