.assemble-top__img {
  background-image: url('../../assets/assemble/simple/hall.jpg');
}

.assemble-sub {
  padding-top: 20%;
  color: #333;
  background-image: url('../../assets/assemble/simple/sub.jpg');
}

.hall {
  .assemble-space__img {
    background-image: url('../../assets/assemble/simple/hall.jpg');
  }
  .assemble-space__bg {
    width: 370px;
    right: -70%;
    bottom: -20%;
  }
}

.dining-room {
  .assemble-space__img {
    background-image: url('../../assets/assemble/simple/dining-room.jpg');
  }
  .assemble-space__bg {
    width: 300px;
    left: -55%;
    bottom: -30%;
    opacity: .5;
  }
}

.bedroom {
  .assemble-space__img {
    background-image: url('../../assets/assemble/simple/bedroom.jpg');
  }
  .assemble-space__bg {
    width: 300px;
    right: -60%;
    bottom: -30%;
    opacity: .5;
  }
}

.assemble-ft {
  color: #333;
  background-image: url('../../assets/assemble/simple/ft.jpg');
}
